header {
 display: block;
 height: 200px;
 background: url(images/hat.png);
}
table {
  height: 100%;
  width: 100%
}
td {
  padding-left: 30px;
  height: 100px;
}
td a{
      color: rgb(255,255,255);
    }
td a:visited {
      color: rgb(255,255,255);
    }
.purple{
    background-color: rgb(145, 61, 136)
  }
.blue{
    background-color: rgb(31, 58, 147)
  }
header h1 {
  font-style: italic;
  font-family: cursive;
}
h1 {
  font-family: 'Times New Roman', Times, serif;
}
h3 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}



